.main {
    background-color: rgb(66, 66, 66);
    height: 5rem;
}
.anchorStyle {
    text-decoration: none;
    color: #58a6ff;
}
.btnStyle {
    padding: 5px;
    height: 35px;
    width: 15rem;
    text-align: center;
    background-color: green;
    color: white;
    margin-left: 40%;
    cursor: pointer;
    margin-top: 2rem;
}
.btnStyle:hover {
    background-color: lightblue;
    color: black;
    text-align: center;
}
.imgStyle {
    height:5rem;
    width:5rem;
    border-radius:1rem;
    cursor: pointer;
}
.imgStyle:hover {
    height: 6rem;
    width: 6rem;
}
.img_p_Style {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:2rem;
    gap:1rem;
    margin-bottom: 2rem;
}
.imgCard_Style {
    margin-top :5rem;
    padding:1rem;
    height:auto;
    width:25rem;
    background-color:gray;
    color:white;
    border-radius:5px;
    cursor: pointer;
}
.imgCard_Style:hover {
    width: 25rem;
    height: auto;
    background-color: #424242;
    color: white;
}
.main_div_Style {
    display:flex;
    gap:10px;
    margin-left:2rem;
    margin-right:2rem;
    margin-bottom:3rem
}
.text_btn_Style {
    padding: 5px;
    text-align: center;
    width:10rem;
    height:35px;
    background-color:black;
    color:white;
    border:1px solid white;
    cursor: pointer;
}
.text_btn_Style:hover {
    background-color: lightblue;
}
.footer_Style {
    background-color:gray;
    color:white;
    text-align:center;
    padding:1rem
}
.login_Style {
   width: 50%;
}

.brdrRadius {
    border-radius: 10px;
}
.singup_Style {
    width: 50%;
}
.table_content_Style {
    width:30rem;
    padding: 1rem;
    background-color:#424242;
    box-shadow: 0px 0px 10px white;
    margin-bottom: 3rem;
}
.main_table_Style {
    display:flex;
    flex-direction: row;
    gap:2rem;
    flex-wrap:wrap;
    justify-content: center;
}
.form_Style {
    border:2px dotted white;
    width:50%;
    height: fit-content;
    padding:1rem;
    margin-top: 2rem;
}
.mb-Style {
    margin-bottom:5rem
}
.up_arrow_Style {
    height:3rem;
    width:3rem;
    float:right;
    cursor: pointer;
}
/* .up_arrow_Style:hover {
    width: 4rem;
    height: 4rem;
    transition: width height 2s;
} */